  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <h2 class="mb-5">Eidt Books</h2>
      <div class="row">

        <div class="col">
          <div class="card shadow">
    
                  <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      <!-- Render the Partial Form -->
      <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
      <!-- Dark table -->
    </div>
  </div>